.fake-container-popup {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  // border: 1px solid salmon;
  height: 30vh;
  width: 47vh;
  display: inline-flex;
  gap: 24px;
  border-radius: 12px;
  background: var(--White, #fff);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}
.popup-content-container {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-end;
  svg {
    padding: 3% 44%;
  }
}
.h1-popup-text {
  color: var(--Black, #000);
  text-align: center;
  font-variant-numeric: slashed-zero;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.p-popup-text {
  text-align: center;
  margin-top: 0px;
}
.popup-button {
  display: flex;
  width: 22rem;
  height: 3rem;
  // padding: 24px 0px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 1rem;
  // height: 2.8rem;
  border-radius: 8px;
  background: var(--Principal, #a442f1);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.7px;
  border-style: none;
  transition: all 0.5s ease;
}
.popup-button:hover {
  transform: scale(1.05);
  background: var(--Principal, #8c29d8);
}
